.content{
	background: #eee;
	width: 100vw;
	height: 100vh;
}
   .map{
	   position: absolute;
	   width: 38upx;
	   height: 38upx;
	   right: 20upx;
	   top: 15upx;
   }
   .choosetop{
	   display: flex;
	   justify-content: space-between;
	   padding: 20upx;
	   box-sizing: border-box;
	   background: #fff;
	   margin-top: 15upx;
   }
   .store{
   	display: flex;
	justify-content: space-between;
   	padding:  20upx;
   	box-sizing: border-box;
	background: #fff;
   }
   .storelist{
	flex: 1;
	display: flex;
	flex-direction: column;
   	margin-left: 15upx;
   	font-size: 28upx;
   }